:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --primary-color: #1da1f2;
  --background-image: url('/images/bg-light.png');
  --history-action-color: black;
  --history-action-border-color: transparent;
  --history-action-background-color: white;
  --history-background: rgba(255, 255, 255, 0.2);
  --history-weather-background: rgba(255, 255, 255, 0.4);
  --weather-details-color: rgba(102, 102, 102, 1);
  --weather-details-background: rgba(255, 255, 255, 0.5);
}

.dark {
  --background-color: #121212;
  --text-color: #ffffff;
  --primary-color: #bb86fc;
  --background-image: url('/images/bg-dark.png');
  --history-action-color: rgba(255,255,255,0.5);
  --history-action-border-color: rgba(255,255,255,0.5);
  --history-action-background-color: transparent;
  --history-background: rgba(26, 26, 26, 0.3);
  --history-weather-background: rgba(26, 26, 26, 0.5);
  --weather-details-color: white;
  --weather-details-background: rgba(26, 26, 26, 0.3);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
